.recipeItem {
	display: flex;
	flex-direction: row;
	padding: 10px;
	/* TODO: choisir un style plus joli avec des effets */
	margin-top: 20px;
	width: 80%;
}

.recipeItem div {
	border: 0.2rem solid green;
	border-radius: 1rem;
}

/*.recipe-image {
	width: 200px;
	clip-path: circle();
	height: 200px;
}*/

/*.recipe-cover {
	width: 200px;
	height: 200px;
}*/

/*.ingredients-image {
	height: 100px;
	width: 100px;
}*/

.recipe-description {
	padding: 10px;
	width: 100%;
}

.recipe-description-centered {
	display: flex;
	justify-content: center;
}

.ingredients-container-div {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.recipe-title {
	padding: 10px;
}

.ingredients-quantity {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}
