.recipeItem {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin-top: 20px;
	width: 80%;
}

.recipeItem div {
	border: 0.2rem solid green;
	border-radius: 1rem;
}

.recipe-description {
	padding: 10px;
	width: 100%;
}

.recipe-description-centered {
	display: flex;
	justify-content: center;
}

.ingredients-container-div {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.recipe-title {
	padding: 10px;
}

.ingredients-quantity {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}
