
.recipeItem {
	display: flex;
	flex-direction: row;
	padding: 10px;
	/*border: 0.2rem solid green;
	border-radius: 1rem;*/
	/* TODO: choisir un style plus joli avec des effets */
	/*box-shadow: 5px 5px 7px 2px rgba(0,0,0,0.76);*/
	margin-top: 20px;
	width: 80%;
}

.recipeItem div {
	border: 0.2rem solid green;
	border-radius: 1rem;
}

.recipe-image {
	/*display: flex;*/
	/*flex-Direction: column;	*/
	/*justify-content: space-evenly;*/
	/*height: 200px;*/
	/*width: 70%;*/
	/*backgroundImage: `url(${recipe.imageURL})`,*/
	/*background-size: cover;*/
	width: 200px;/*TODO: voir après media queries*/
	/*border-radius: 100%;*/
	clip-path: circle();
	height: 200px;
}

.recipe-description {
	padding: 10px;
	/*background-color: lightblue;*/
	width: 100%;
}

.recipe-description-centered {
	display: flex;
	justify-content: center;
}

.ingredients-container-div {
	/*background-color: blanchedalmond;*/
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.recipe-title {
	padding: 10px;
}

.ingredients-quantity {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}
