.App {
  text-align: center;
  background-color: #fff;
}

ul {
  display:inline-block;
  list-style: none;
  overflow-x: scroll;
}

li, button {
  /*background-color: #fff;*/
  /*border: 0.2rem solid #37b877;*/
  padding: 2px 15px;
  /*color: #37b877;*/
  /*border-radius: 1em;*/
  font-size: 18px;
  /*font-family: "Grotesk";*/
}

/* TODO: style a revoir après logique */
.selected {
  background-color: #37b877;
  color: #fff;
  border-radius: 1rem;
  border-radius: 1em;
  border: 0.2rem solid #99ff99;
}

.tag {
  background-color: #fff;
  color: #37b877;
  border-radius: 1rem;
  border-radius: 1em;
  border: 0.2rem solid #99ff99;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

h1 {
  font-family: "Grotesk";
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: .02em;
}

h2 {
  font-family: "Grotesk";
  margin: 0px;
}

@font-face {
  font-family: "Grotesk";
  src: url('../fonts/Grotesk/OTF/HKGrotesk-SemiBold.otf') format('truetype');
}
